{% extends 'unlog-base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

<div class="text-center mt-5">
  <div class="mb-5">
    <div class="text-center mb-1">
      <a href="/">
        <img src="/uploads/images/beelogo.png" class="img-fluid profile-image-pic rounded-circle" width="150px" alt="profile">
      </a>
    </div>
      <p class="text-danger fw-bold">Failed! It seems like something wrong here.</p>
      <a href="/login" class="btn btn-secondary btn-lg fw-bold">Login</a>
  </div>
</div>

{% endblock %}
