{% extends "unlog-base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

  <div class="text-center mt-5">
    <div class="mb-5">
      <div class="text-center mb-1">
        <a href="/">
          <img src="/uploads/images/beelogo.png" class="img-fluid profile-image-pic rounded-circle" width="150px" alt="profile">
        </a>
      </div>
        <p class="text-success fw-bold">Your password reset successfully!</p>
        <a href="/login" class="btn btn-warning btn-lg fw-bold">Login</a>
    </div>
  </div>
{% endblock %}
