{% extends 'base.html' %}

{% block title %}Confirmation{% endblock %}

{% block body %}

<div class="text-center mt-5">
  <div class="mb-5">
    <div class="text-center mb-1">
      <a href="/">
        <img src="/uploads/images/beelogo.png" class="img-fluid profile-image-pic rounded-circle" width="150px" alt="profile">
      </a>
    </div>
    <p class="text-danger fw-bold">Failed! It seems like something wrong here. If your token is correct, it may cause your new email adress already exist in our database or your token has expired.<p>
      <a href="/profile/show" class="btn btn-secondary btn-lg fw-bold">Profile</a>
  </div>
</div>

{% endblock %}
